block variables

doctype html 
html(lang="ja")
  head 
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    base(href="/")

    title templage

    meta(name="description" content='templage')

    link(href="main.css" rel="stylesheet")

  body 
    //- include ./partials/navigation
    //- include ./partials/preloader

    .content#content(data-template=template)
      block content
    
    script(src="main.js")
